.second-view {
  justify-content: space-evenly;
  align-items: center;
}

.text-has-shadow {
  text-shadow: 2px 4px 3px rgba(0, 0, 0, 0.3);
}

.box-with-shadow {
  -webkit-box-shadow: 13px 12px 8px -6px rgba(0, 0, 0, 0.74);
  box-shadow: 13px 12px 8px -6px rgba(0, 0, 0, 0.74);
}

.drop-effect {
  filter: drop-shadow(0.35rem 0.35rem 0.4rem rgba(0, 0, 0, 0.5));
}
