@import url("https://fonts.googleapis.com/css2?family=Lobster&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Annie+Use+Your+Telescope&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Abril+Fatface&display=swap");
.cursive {
  font-family: "Lobster", cursive;
  font-weight: 700;
}

.text-has-shadow {
  text-shadow: -1px 1px 10px rgba(0, 0, 0, 0.75);
}

.content-border {
  border: 5px inset #d087a5;
  padding: 0px;
  margin: 0px;
}

.home-banner {
  background-image: url("../src/images/abbaCartoon.png");
  background-position: top;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  width: 100%;
  height: 100%;
}

.homeLogo {
  font-family: "Annie Use Your Telescope", cursive;
  font-size: 6rem;
  font-weight: 700;
  color: #d087a5;
}

.annie-font {
  font-family: "Annie Use Your Telescope", cursive;
  font-weight: 700;
}

.abril-font {
  font-family: "Abril Fatface", cursive;
}

.item a:hover {
  color: skyblue;
}
.card-transform {
  transform: rotate(-20deg);
}
