.homeLogo {
  color: white;
  text-shadow: 0 -1px 0 #fff, 0 1px 0 #2e2e2e, 0 2px 0 #2c2c2c, 0 3px 0 #2a2a2a,
    0 4px 0 #282828, 0 5px 0 #262626, 0 6px 0 #242424, 0 7px 0 #222,
    0 8px 0 #202020, 0 9px 0 #1e1e1e, 0 10px 0 #1c1c1c, 0 11px 0 #1a1a1a,
    0 12px 0 #181818, 0 13px 0 #161616, 0 14px 0 #141414, 0 15px 0 #121212,
    0 22px 30px rgba(0, 0, 0, 0.9);
}

.homeLogo:hover {
  color: #d087a5;
  text-shadow: 1px 0px 1px #cccccc, 0px 1px 1px #eeeeee, 2px 1px 1px #cccccc,
    1px 2px 1px #eeeeee, 3px 2px 1px #cccccc, 2px 3px 1px #eeeeee,
    4px 3px 1px #cccccc, 3px 4px 1px #eeeeee, 5px 4px 1px #cccccc,
    4px 5px 1px #eeeeee, 6px 5px 1px #cccccc, 5px 6px 1px #eeeeee,
    7px 6px 1px #cccccc;
}

.active {
  color: #6cde6d;
  text-shadow: 1px 0px 1px #ffff, 0px 1px 1px #ffff, 2px 1px 1px #ffff,
    1px 2px 1px #ffff, 3px 2px 1px #ffff, 2px 3px 1px #ffff, 4px 3px 1px #ffff,
    3px 4px 1px #ffff, 5px 4px 1px #ffff, 4px 5px 1px #ffff, 6px 5px 1px #ffff,
    5px 6px 1px #ffff, 7px 6px 1px #ffff;
}

.nav-link {
  text-decoration: none;
  margin: 2;
}

.parent {
  cursor: pointer;
}
